<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>    
    <f:view contentType="text/html">

        
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet> 
    </f:view>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
                   <div align="right">
                    <h:link value="Iniciar Sesión" outcome="login.xhtml" />
                    </div>
                    <center> 
                       <img src="resources\imagenes\floresmieliz.png" width="1500" height="220" alt=""/> <!-- Agregar banner superior -->
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <!-- <center> <img src="" width="1330" height="90" alt=""/> Agregar banner inferior 
                    </center>-->               
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                         
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />
                            <p:menuitem value="ListaReserva" outcome="listareserva.xhtml" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

    <p:layoutUnit position="center">
                    <west> 
                    
                        <!--<img src="" width="100" height="87" alt=""/>--> <!-- Agregar imagen de usuario-->
                    
            <h1><div>Redes Sociales</div></h1>
       <a href="https://www.facebook.com/Mieliz-1064099323747548/"><img src="resources\imagenes\facebook.mieliz.png" width="250" height="80" alt="" /> </a>
       <br></br>
        
        <a href="https://www.instagram.com/mieliz.ec/?hl=es-la"><img src="resources\imagenes\Instagram.png" width="250" height="80" alt=""  /> </a>
         <br></br>
       
        <img src="resources\imagenes\WhatsApp.mieliz.png" width="250" height="80" alt=""  />

         </west>
       
        <DIV align="center"> 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.900753394513!2d-79.88553838524474!3d-2.191280398402767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e78519c71b3%3A0xad064566715874bd!2sBlvd.%209%20de%20Octubre%20%26%20Escobedo%2C%20Guayaquil%20090313!5e0!3m2!1ses-419!2sec!4v1567895093300!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>        </DIV>
        
         <div>Observacion</div>
        <div>Preguntar por la familia fabre tercer piso</div>
                    
                </p:layoutUnit>

            </p:layout>

    </h:body>
  
</html>

        

