<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>    
    <f:view contentType="text/html">

        
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet> 
    </f:view>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
                    <div align="right">
                    <h:link value="Iniciar Sesión" outcome="login.xhtml" />
                    </div>
                   <center> <img src="resources\imagenes\floresmieliz.png" width="1500" height="220" alt=""/> <!-- Agregar banner superior -->
                    </center>
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <!-- <center> <img src="" width="1330" height="90" alt=""/> Agregar banner inferior 
                    </center>-->               
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                         
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />
                            <p:menuitem value="ListaReserva" outcome="listareserva.xhtml" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <center> Esta es nuestra aplicación web
                   <center>
            
        <h6>¿No tienes cuenta? <h:link value="Regístrate aquí" outcome="registro.xhtml" /> </h6>
        </center>
                </center>
                </p:layoutUnit>

            </p:layout>

    </h:body>

</html>

