<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>    
    <f:view contentType="text/html">

        
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet> 
    </f:view>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
                     <div align="right">
                    <h:link value="Iniciar Sesión" outcome="login.xhtml" />
                    </div>
                   <center> <img src="resources\imagenes\floresmieliz.png" width="1500" height="220" alt=""/> <!-- Agregar banner superior -->
                    </center>
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <!-- <center> <img src="" width="1330" height="90" alt=""/> Agregar banner inferior 
                    </center>-->               
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                         
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />
                            <p:menuitem value="ListaReserva" outcome="listareserva.xhtml" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>
    <p:layoutUnit position="center">
                    <center> 
                        
                        <h1> Lista de Reservaciones </h1> 
                        
                </center>
        <p:fieldset legend="Productos">
            <h:form>
    <h3 style="margin-top:0">Reservacion</h3>
    <p:dataTable var="car" value="" scrollable="true"  scrollHeight="350">
        <p:column headerText="Peineta Flor" >
            <h:panelGrid columns="1" cellpadding="10">
                <center><img src="resources/imagenes/vinchas 4.jpg" width="200" height="208" alt="ropa 6"/></center>
                <p:outputPanel deferred="true">
        <p> Caracteristicas:</p>
                        
                       <p>1.-Material flexible</p>
                       <p>2.-Tipo de tela elastica</p>
                       <p>3.-Adorno de rosas</p>
    </p:outputPanel>
                
                <p:growl id="growl" life="2000" />
    <p:commandButton value="RESERVAR" id="ajax" update="growl" action="#{buttonView.buttonAction}" style="margin-right:20px;" styleClass="ui-priority-primary" />
                
            </h:panelGrid>
        </p:column>
        <p:column headerText="Almohada Para Cuello" >
            <h:panelGrid columns="1" cellpadding="10">
                <center><img src="resources/imagenes/almohada 3.jpg" width="200" height="208" alt="ropa 6"/></center>
                <p:outputPanel deferred="true">
        <p> Caracteristicas:</p>
                        
                       <p>1.-Color Amarillo</p>
                       <p>2.-Super Alcochable</p>
                       <p>3.-Textura Suave</p>
    </p:outputPanel>
                
    <p:growl id="growl" life="2000" />
    <p:commandButton value="RESERVAR" id="ajax" update="growl" action="#{buttonView.buttonAction}" style="margin-right:20px;" styleClass="ui-priority-primary" />
    
            </h:panelGrid>
        </p:column>
        <p:column headerText="Turbante Minnie" >
            <h:panelGrid columns="1" cellpadding="10">
                <center><img src="resources/imagenes/cintillo 11.jpg" width="200" height="208" alt="ropa 6"/></center>
                <p:outputPanel deferred="true">
        <p> Caracteristicas:</p>
                        
                       <p>1.-Material flexible</p>
                       <p>2.-Tipo de tela elastica</p>
                       <p>3.-Perlas Moradas en forma de orejas</p>
    </p:outputPanel>
                
                <p:growl id="growl" life="2000" />
    <p:commandButton value="RESERVAR" id="ajax" update="growl" action="#{buttonView.buttonAction}" style="margin-right:20px;" styleClass="ui-priority-primary" />
    
            </h:panelGrid>
        </p:column>
        <p:column headerText="Almohada Unicornio" >
            <h:panelGrid columns="1" cellpadding="10">
                <center><img src="resources/imagenes/almohada 1.jpg" width="200" height="208" alt="ropa 6"/></center>
                <p:outputPanel deferred="true">
        <p> Caracteristicas:</p>
                        
                       <p>1.-Super Alcochable</p>
                       <p>2.-Textura Suave</p>
                       <p>3.-Con nombre</p>
    </p:outputPanel>
                
                <p:growl id="growl" life="2000" />
    <p:commandButton value="RESERVAR" id="ajax" update="growl" action="#{buttonView.buttonAction}" style="margin-right:20px;" styleClass="ui-priority-primary" />
    
            </h:panelGrid>
        </p:column>
    </p:dataTable>
            </h:form>
            <h:form>
    <p:messages showDetail="true"/>
    <p:captcha label="Captcha" />
    <br />
    <p:commandButton value="Check" action="#{captchaView.submit}" ajax="false" icon="pi pi-check"/>
</h:form>
        </p:fieldset>

    </p:layoutUnit>

            </p:layout>
     
    </h:body>
</html>
