<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>    
    <f:view contentType="text/html">

        
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet> 
    </f:view>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
                   <center> <img src="resources\imagenes\floresmieliz.png" width="1500" height="250" alt=""/> <!-- Agregar banner superior -->
                    </center>
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <!-- <center> <img src="" width="1330" height="90" alt=""/> Agregar banner inferior 
                    </center>-->               
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                         
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />
                            <p:menuitem value="ListaReserva" outcome="listareserva.xhtml" />
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <center> <h1>Inicie sesión para usar nuestro sistema de reservaciones.</h1>
                        <img src="resources\imagenes\user.png" width="155" height="155" alt=""/>
                    <p:growl id="mensajes" showDetail="true" life="2000" />
  <h:form>
    <p:panel header="Iniciar Sesión" style="width:300px">
      <h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel for="username" value="Usuario:" />
        <p:inputText size="10" value="#{loginBean.nombre}" id="username"
           required="true" label="username" />
        <p:outputLabel for="password" value="Clave:" />
        <p:password size="10" value="#{loginBean.clave}" id="password" required="true"
           label="password" />
        <f:facet name="footer">
            <center> <br/> 
          <p:commandButton id="loginButton" value="Entrar"
             actionListener="#{loginBean.login}" update=":mensajes"
             oncomplete="manejarLogin(xhr, status, args)" />
            </center>
        </f:facet>
      </h:panelGrid>
        <center>
            
        <h6>¿No tienes cuenta? <h:link value="Regístrate aquí" outcome="registro.xhtml" /> </h6>
        </center>
    </p:panel>
  </h:form>
                </center>
                </p:layoutUnit>

            </p:layout>

    </h:body>
  <script type="text/javascript">
  //<![CDATA[
  function manejarLogin(xhr, status, args) {
    if (!args.validationFailed && args.estaLogeado) {
      setTimeout(function() {
        window.location = args.view;
      }, 500);
    }
  }
//]]>
</script>
</html>

