<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>    
    <f:view contentType="text/html">

        
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet> 
    </f:view>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
                   <center> <img src="resources\imagenes\floresmieliz.png" width="1500" height="250" alt=""/> <!-- Agregar banner superior -->
                    </center>
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <!-- <center> <img src="" width="1330" height="90" alt=""/> Agregar banner inferior 
                    </center>-->               
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                         
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                 <h1> Formulario para crear usuarios </h1>
                 <h:form> 
                     
                        <p:fieldset legend="Datos Personales">
                            <h:panelGrid id="pgdatos" columns="2">
                                <p:outputLabel value="Nombres"/>
                                <p:inputText value="#{usuariocontroler.persona.nombres}"  required="true"/>
                                
                                <p:outputLabel value="Apellidos"/>
                                <p:inputText value="#{usuariocontroler.persona.apellidos}" required="true" />
                                
                                <p:outputLabel value="Sexo"/>
                                <p:selectOneRadio value="#{usuariocontroler.persona.sexo}" required="true">
                                    <f:selectItem itemValue="M" itemLabel="Masculino"/>
                                    <f:selectItem itemValue="F" itemLabel="Femenino"/>
                                </p:selectOneRadio>
                                
                                <p:outputLabel value="fechaNacimiento"/>
                                <p:calendar value="#{usuariocontroler.persona.fechaNacimiento}" required="true"/>
                                <p:outputLabel value="Telefono"/>
                                <p:inputText />
                                
                                <p:outputLabel value="Correo"/>
                                <p:inputText value="#{usuariocontroler.persona.correo}" required="true"/>
                            </h:panelGrid>
                    </p:fieldset>
                     <p:fieldset legend="Datos de la cuenta">
                         <h:panelGrid columns="2" id="pgcuenta">
                                 <p:outputLabel value="Tipo de Cuenta"/>
                                 <p:selectOneMenu id="cboTipo" value="#{usuariocontroler.usuario.tipo}"  required="true" requiredMessage="Campo requerido">
                                    <f:selectItem itemValue="A" itemLabel="Administrador"/>
                                    <f:selectItem itemValue="C" itemLabel="Cliente"/>
                                </p:selectOneMenu>
                                
                                
                                <p:outputLabel value="Usuario"/>
                                <p:inputText value="#{usuariocontroler.usuario.usuario}" required="true" requiredMessage="Campo requerido"/>
                                
                                    
                                    <p:outputLabel  value="Clave"/>
                                    <p:password id="clave1" value="#{usuariocontroler.usuario.clave}" required="true" requiredMessage="Campo requerido"
                                                 validatorMessage="Las claves no coinciden"
                                                 match="clave2" feedback="true" promptLabel="Ingrese una clave" />
                                     
                                     <p:outputLabel value="Repetir Clave"/>
                                      <p:password id="clave2" />
                                      
                                      </h:panelGrid>
                            
                         <p:commandButton icon="ui-icon-check" value="Registrar" action="#{usuariocontroler.guardar}" update="pgdatos, pgcuenta" />
                                             </p:fieldset>
                     </h:form>
                </p:layoutUnit>

            </p:layout>

    </h:body>

</html>

