<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view contentType="text/html">

        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http_equiv="Content-Type"/>      
                <title> MIELIZ </title>
            </f:facet>        
    </h:head>
<h:body>
<style type="text/css">
body{        
background-color:gray;
}
</style>
    
      
    
    
<p:layout fullPage="true">

                <p:layoutUnit position="north" size="270" resizable="true" closable="true" collapsible="true">
               
                     <p:commandLink id="logout" actionListener="#{loginBean.logout}"
      style="margin-right:20px;" oncomplete="logout(xhr, status, args)">
                         <DIV align="right"> 
                             <h:outputText value="Cerrar Cesión" /> 
                             </DIV>
  </p:commandLink>
             
                    <center> <img src="resources\imagenes\floresmieliz.png" width="1500" height="220" alt=""/> <!-- Agregar banner superior -->
                    </center>
                
  
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                  <!--<center> <img src="" width="1330" height="90" alt=""/>--> <!-- Agregar banner inferior
                    </center> -->          
                    

                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menú" collapsible="true">
                    <p:menu>
                        <p:submenu label="Principal">
                            <p:menuitem value="Inicio" outcome="index.xhtml"  />
                            <p:menuitem value="Galería" outcome="galeria.xhtml" />
                            <p:menuitem value="Contactos" outcome="contactos.xhtml" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <center> Pueden reservar a traves de nuestra aplicacion web    
                        <center>Reserve online y pague directamente en la tienda   
                    
                        <!--<img src="" width="100" height="87" alt=""/>--> <!-- Agregar imagen de usuario-->
                   <div class="formulario">
            <h2>Reservar</h2>
            <form action="#">
                <input type="text" placeholder="Fecha de reserva" required=""></input>
                <input type="text" placeholder="Fecha de entrega" required=""></input>
                <input type="submit" value="Reservar"></input>
            </form>
            <div class="reset-password">
            <a href="#">Comprobar Disponibilidad</a>
        </div>
                   </div>
                    <f:view>
                     <h:form>
         <p:contentFlow value="#{imagesView.images}" var="image">
         <p:graphicImage name="imagenes/#{image}" styleClass="content" />
         <div class="caption">#{image}</div>
         </p:contentFlow>
         </h:form>

        </f:view>
                        
                </center>
                   </center>
                </p:layoutUnit>

            </p:layout>

    </h:body>
        
 
        
    </f:view>
    
           <script type="text/javascript">
  //<![CDATA[
  function logout(xhr, status, args) {
    setTimeout(function() {
      window.location = 'index.xhtml';
    }, 500);
  }
//]]>
</script>
</html>

        


